<div class="banner-footer">
  <div class="container">
    <img class="atendente" src="./assets/atendente.png" alt="" />
    <div class="conteudo-banner">
      <h2>Como posso ajudar?</h2>
      <p>Status do seu pedido, Ofertas e muito mais.</p>
    </div>
    <button class="botao-whatsapp">
      <img class="icon-whatsapp" src="assets/whatsapp.svg" alt="">
      Fale com a Vitória
    </button>
  </div>
</div>

<div class="conteudo-footer">
  <div>
    <h3>Formas de pagamento</h3>
    <p class="paragrafo-credito">Crédito</p>
      <div class="cartoes-credito">
        <img src="./assets/formas-de-pagamento/credito/visa.svg" alt="visa"/>
        <img src="./assets/formas-de-pagamento/credito/elo.svg" alt="elo" />
        <img src="./assets/formas-de-pagamento/credito/mastercard.svg" alt="mastercard"/>
        <img src="./assets/formas-de-pagamento/credito/hipercard.svg" alt="hipercard" />
        <img src="./assets/formas-de-pagamento/credito/americanexpress.svg" alt="americanexpress" />
        <img src="./assets/formas-de-pagamento/credito/boleto.svg" alt="boleto" />
        <img src="./assets/formas-de-pagamento/credito/cupom-de-desconto.svg" alt="cupom-de-desconto" />
        <img src="./assets/formas-de-pagamento/credito/pix.svg" alt="pix" />
      </div>

    <p class="paragrafo-debito">Débito bancário</p>
      <div class="cartoes-debito">
        <img src="./assets/formas-de-pagamento/debito/itau.svg" alt="itau"/>
        <img src="./assets/formas-de-pagamento/debito/bradesco.svg" alt="bradesco"/>
        <img src="./assets/formas-de-pagamento/debito/santander.svg" alt="santander" />
        <img src="./assets/formas-de-pagamento/debito/nubank.svg" alt="nubank" />
        <img src="./assets/formas-de-pagamento/debito/original.svg" alt="original" />
        <img src="./assets/formas-de-pagamento/debito/c6bank.svg" alt="c6bank" />
        <img src="./assets/formas-de-pagamento/debito/inter.svg" alt="inter" />
      </div>
  </div>

  <div class="duvidas">
    <h3>Tire suas dúvidas:</h3>
    <p>Regiões Metropolitanas</p>
    <button class="telefones">
      <mat-icon
        class="icone-telefone"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="phone"
      ></mat-icon>
      1234-5678
    </button>

    <p>Demais regiões</p>
    <button class="telefones">
      <mat-icon
        class="icone-telefone"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="phone"
      ></mat-icon>
      8765-4321
    </button>
  </div>
</div>

<div class="rodape">© 2025 Placefood. Todos os direitos reservados.</div>
