.card-busca {
  width: 300px;
  height: 400px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
}

.imagem-card {
  margin-top: 20px;
  width: 50% !important;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-busca:hover {
  transform: scale(1.02);
  outline: 1px solid var(--verde);
}

.card-busca button {
  width: 100%;
  margin: 0 16px 48px;
}

.card-busca mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-card {
  font-size: 1.1rem;
  text-align: center;
  width: 90%;
}

.preco-card {
  font-size: 1.1rem;
  font-weight: 600;
  color: green;
}

.card-busca mat-card-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-busca button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
}

button {
  background-color: var(--verde);
  color: var(--preto) !important;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  .card-busca {
    width: 250px;
    height: 350px;
    margin: 0;
  }

  .card-busca img {
    width: 100% !important;
    height: auto !important;
    max-height: 150px;
    object-fit: contain;
  }

  .card-busca h2 {
    padding-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    word-wrap: break-word;
  }

  .card-busca ul li {
    font-size: 1rem;
  }

  .card-busca button {
    font-size: 0.9rem;
    width: 100%;
  }

  .card-busca mat-card-actions {
    width: 100%;
  }
}
