.crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form-container input {
  border: 1px solid var(--verde-claro);
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

.form-container input:focus {
  border: 2px solid var(--verde-claro);
  outline: none;
}

#categoria {
  padding: 10px;
  border: 1px solid var(--verde-claro);
  background-color: #F2F4F7;
  border-radius: 10px;
  outline: none;
  width: 400px;
}

#categoria option {
  background-color: #F2F4F7;
}

.form-container input:focus {
  border: 1px solid var(--verde);
}

.salvar, .cancelar {
  width: 200px;
  border: none;
  background-color: var(--verde-claro);
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}

.salvar-cancelar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.salvar:hover, .cancelar:hover {
  background-color: var(--verde);
}

button {
  margin-right: 5px;
  cursor: pointer;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  .form-container input{
    width: 300px;
  }

  #categoria {
    width: 300px;
  }

  .salvar-cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .salvar, .cancelar {
    width: 150px;
  }
}
