.cabecalho {
  background-color: var(--branco);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: -3px;
}

a {
  z-index: 1001;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
}

.logo-placefood {
  width: 250px;
  height: 50px;
  object-fit: cover;
  padding-top: 10px;
  padding-left: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
}

section {
  background-color: var(--branco);
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 7px;
}

form {
  display: flex;
  justify-content: center;
  gap: 0px;
}

input {
  padding: 0 1em;
  width: 65vw;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid var(--verde-logo);
  border-right: none;
}

input:focus {
  border: 1px solid var(--verde-claro);
}

.buscar {
  background-color: var(--verde-claro);
  height: 45px;
  padding: 10px 20px;
  border-radius: 1px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
  border-radius: 0px 5px 5px 0px;
}

.buscar:hover {
  border-color: var(--verde);
}

.botoes-conta {
  display: flex;
}

.cria-conta,
.logar {
  color: var(--preto) !important;
  border: none;
  cursor: pointer;
}

.cria-conta:hover,
.logar:hover {
  text-decoration: underline;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  .cabecalho {
    background-color: var(--verde-claro);
  }

  .logo-placefood {
    display: none;
  }

  .buscar {
    background-color: var(--verde);
  }

  .botoes-conta {
    display: none;
  }

  section {
    background-color: var(--verde-claro);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  input {
    width: 60vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .cabecalho {
    background-color: var(--verde-claro);
  }

  .logo-placefood {
    display: none;
  }

  .buscar {
    background-color: var(--verde);
  }

  .cria-conta,
  .logar {
    display: flex;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  section {
    background-color: var(--verde-claro);
  }

  input {
    margin-left: 10px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .logo-placefood {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: -20px;
    object-fit: cover;
    padding-top: 10px;
    z-index: 10001;
  }

  input {
    margin-left: 150px !important;
  }

  .cria-conta,
  .logar {
    display: flex;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .logo-placefood {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: -20px;
    object-fit: cover;
    padding-top: 10px;
    z-index: 10001;
  }

  input {
    margin-left: 150px !important;
  }

  .cria-conta,
  .logar {
    display: flex;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

@media (min-width: 1281px) {
  .logo-placefood {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: -20px;
    object-fit: cover;
    padding-top: 10px;
    z-index: 10001;
  }

  input {
    margin-left: 150px !important;
  }

  .botoes-conta {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cria-conta,
  .logar {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
