section {
  background-color: var(--branco);
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 10px;
}

form {
  display: flex;
  gap: 0px;
}

input {
  padding: 0 1em;
  width: 60vw;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid var(--verde-logo);
  border-right: none;
}

input:focus {
  border: 1px solid var(--verde-claro);
}

.buscar {
  background-color: var(--verde-claro);
  height: 45px;
  padding: 10px 20px;
  border-radius: 1px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
  border-radius: 0px 5px 5px 0px;
}

.buscar:hover {
  border-color: var(--verde);
}

.botoes-conta {
  display: flex;
  gap: 20px;
}

.cria-conta,
.logar {
  color: var(--preto) !important;
  border: none;
  cursor: pointer;
}

.cria-conta:hover,
.logar:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {

  section {
    width: 95%;
    display: flex;
    justify-content: center;
  }

  form {
    width: 95%;
  }

  input {
    width: 95%;
  }

  .botoes-conta {
    display: none;
  }
}


/* @media (max-width: 600px) {
  input {
    width: 300px;
  }
} */

/* @media (max-width: 768px) {
  img {
    width: 100px !important;
  }

  input {
    width: 150px;
  }

  .buscar {
    width: 2px;
  }

  .botoes-conta {
    display: flex;
  }

  .botoes-conta .cria-conta,
  .botoes-conta .logar {
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
} */
