
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecalho {
  display: flex;
  align-items: center;
}

header {
  height: 65px;
  display: flex;
  align-items: center;
}

.logo-placefood {
  width: 80%;
  height: 14rem;
  object-fit: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
}

@media (max-width: 480px) {
  header img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
}
