* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: var(--branco);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0px;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
}

.logo-placefood {
  width: 250px;
  height: 50px;
  object-fit: cover;
  padding-top: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
}

@media (max-width: 480px) {
  .logo-placefood {
    display: none;
  }
}
