.titulo-sugeridos,
.titulo-destaques,
.titulo-hortifruti {
  border-left: 5px solid var(--verde);
  padding-left: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 30px;
}

.sugerido-cards,
.destaques-cards,
.hortifruti-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 5vw;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.sugerido-cards::-webkit-scrollbar,
.destaques-cards::-webkit-scrollbar,
.hortifruti-cards::-webkit-scrollbar {
  height: 6px;
}

.sugerido-cards::-webkit-scrollbar-thumb,
.destaques-cards::-webkit-scrollbar-thumb,
.hortifruti-cards::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 8px;
}

.sugerido-cards::-webkit-scrollbar-track,
.destaques-cards::-webkit-scrollbar-track,
.hortifruti-cards::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  .sugerido-cards,
  .destaques-cards,
  .hortifruti-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow-x: auto;
  }

  .titulo-sugeridos,
  .titulo-destaques,
  .titulo-hortifruti {
    font-weight: 600;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .titulo-sugeridos,
  .titulo-destaques,
  .titulo-hortifruti {
    font-weight: 600;
  }
}
