.titulo-sugeridos,
.titulo-destaques,
.titulo-hortifruti {
  border-left: 5px solid var(--verde);
  padding-left: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 30px;
}

.sugerido-cards,
.destaques-cards,
.hortifruti-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 5vw;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.sugerido-cards::-webkit-scrollbar,
.destaques-cards::-webkit-scrollbar,
.hortifruti-cards::-webkit-scrollbar {
  height: 6px;
}

.sugerido-cards::-webkit-scrollbar-thumb,
.destaques-cards::-webkit-scrollbar-thumb,
.hortifruti-cards::-webkit-scrollbar-thumb {
  background: var(--cinza-claro);
  border-radius: 8px;
}

.carrossel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.btn-esquerda,
.btn-direita {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-esquerda {
  left: 0px;
}

.btn-direita {
  right: 0px;
}

.sugerido-cards,
.destaques-cards,
.hortifruti-cards {
  flex: 1;
  overflow-x: auto;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  .sugerido-cards,
  .destaques-cards,
  .hortifruti-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow-x: auto;
  }

  .titulo-sugeridos,
  .titulo-destaques,
  .titulo-hortifruti {
    font-weight: 600;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .titulo-sugeridos,
  .titulo-destaques,
  .titulo-hortifruti {
    font-weight: 600;
  }
}
