.cabecalho {
  background-color: #F2F4F7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -3px;
}

a {
  color: var(--preto);
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo-placefood {
  width: 250px;
  height: 50px;
  object-fit: cover;
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;
}

section {
  width: 100%;
  position: fixed;
  top: 7px;
}

.dashboard, .pedidos, .usuarios, .configuracoes, .sair {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-icon {
  color: var(--verde-claro);
}

nav {
  margin-left: 50px;
  height: 40px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}

a:hover {
  font-weight: 500;
  text-decoration: underline;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {

  .logo-placefood{
    width: 200px;
  }

  .menu-btn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
  }

  nav.show {
    display: block;
    height: min-content;
  }

  nav ul {
    flex-direction: column;
    padding: 5px;
  }

  nav ul li {
    display: block;
    padding: 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--verde-claro);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .logo-placefood{
    width: 200px;
  }

  .menu-btn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
  }

  nav.show {
    display: block;
    height: min-content;
  }

  nav ul {
    flex-direction: column;
    padding: 5px;
  }

  nav ul li {
    display: block;
    padding: 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--verde-claro);
  }

}

@media (min-width: 767px) and (max-width: 1024px) {
  .logo-placefood{
    width: 200px;
  }

  .menu-btn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
  }

  nav.show {
    display: block;
    height: min-content;
  }

  nav ul {
    flex-direction: column;
    padding: 5px;
  }

  nav ul li {
    display: block;
    padding: 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--verde-claro);
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .cabecalho {
    background-color: #F2F4F7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -3px;
  }

  .logo-placefood {
    display: block;
    width: 150px;
    height: 50px;
    margin-left: -20px;
    object-fit: cover;
    padding-top: 10px;
  }

}

@media (min-width: 1281px) {
  .logo-placefood {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: -20px;
    object-fit: cover;
    padding-top: 10px;
  }
}
