<div class="cabecalho">
  <header class="header">
    <a href="#">
      <img
        src="../../../assets/logo-placefood.png"
        alt="Logo do Placefood"
        class="logo-placefood"
        aria-hidden="true"
      />
    </a>
  </header>

  <nav>
    <ul>
      <li><a class="dashboard" href="#">Dashboard
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="dashboard"
          ></mat-icon>
      </a></li>
      <li>
        <a class="pedidos" href="#">Gerenciar Pedidos
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="list"
          ></mat-icon>
        </a>
      </li>
      <li>
        <a class="usuarios" href="#">Gerenciar Usuários
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="account_circle"
          ></mat-icon>
        </a>
      </li>
      <li><a class="configuracoes" href="#">
        Configurações
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="settings"
          ></mat-icon>
      </a></li>
      <li><a class="sair" href="#">Sair
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="exit_to_app"
          ></mat-icon>
      </a></li>
    </ul>
  </nav>
</div>
