<nav>
  <ul>
    <li class="dropdown">
      <button>Categorias</button>
      <div class="dropdown-menu">
        <a href="#">Diet, Saudáveis & Veganos</a>
        <a href="#">Bebidas</a>
        <a href="#">Açougue & Peixaria</a>
        <a href="#">Frios & Laticínios</a>
        <a href="#">Hortifruti</a>
        <a href="#">Padarias & Matinais</a>
        <a href="#">Congelados & Sobremesas</a>
      </div>
    </li>
    <a href="">
      <li>Mais vendidos</li>
    </a>
    <a href="">
      <li>Ofertas do dia</li>
    </a>
    <a href="">
      <li>Venda no placefood</li>
    </a>
    <a href="">
      <li>Contato</li>
    </a>
  </ul>
</nav>
