nav {
  background-color: var(--verde-claro);
  height: 40px;
  padding-top: 10px;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 999;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

select {
  width: auto;
  font-weight: 600;
  background: none;
  border: none;
}

select:focus {
  outline: none;
}

select option {
  background-color: var(--branco);
  color: var(--preto);
  padding: 10px;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  ul {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8em;
    justify-content: space-evenly;
  }

  select {
    width: 20vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  nav {
    height: 40px;
  }

  select {
    width: 85px;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 0.8rem;
    gap: 5px;
  }
}
