<nav>
  <ul>
    <li>
      <select name="todas-categorias">
        <option value="0">Categorias</option>
        <option value="1">Diet, Saudáveis & Veganos</option>
        <option value="2">Bebidas</option>
        <option value="3">Açougue & Peixaria</option>
        <option value="4">Frios & Laticínios</option>
        <option value="5">Hortifruti</option>
        <option value="6">Padarias & Matinais</option>
        <option value="7">Congelados & Sobremesas</option>
      </select>
    </li>
    <a href="">
      <li>Mais vendidos</li>
    </a>
    <a href="">
      <li>Ofertas do dia</li>
    </a>
    <a href="">
      <li>Venda no placefood</li>
    </a>
    <a href="">
      <li>Contato</li>
    </a>
  </ul>
</nav>
