<div class="crud">
  <h1>Cadastre um novo produto</h1>
  <form class="form-container">
    <img class="imagem-preview" *ngIf="urlPreview" (change)="converterImagem($event)" [src]="urlPreview">
    <input (change)="converterImagem($event)" name="imagem" type="file" accept="image/*" required/>
    <input name="nome" [(ngModel)]="novoProduto.nome" placeholder="Nome do produto" />
    <input name="preco" [(ngModel)]="novoProduto.preco" type="number" placeholder="Preço do produto" />

    <select id="categoria" [(ngModel)]="novoProduto.categoria" name="categoria">
      <option value="" disabled selected>Selecione uma categoria</option>
      <option value="produtos">Produtos</option>
      <option value="destaques">Destaques</option>
      <option value="hortifruti">Hortifruti</option>
    </select>

    <div class="salvar-cancelar">
      <button type="submit" (click)="enviar()" class="salvar">Salvar</button>
      <button type="submit" (click)="cancelar()" class="cancelar">Cancelar</button>
    </div>
  </form>
