nz-carousel {
  height: 270px !important;
}

[nz-carousel-content] {
  margin: auto;
  width: 1440px;
  height: 150px;
  padding-top: 110px;
}

img {
  width: 95%;
  margin-bottom: 0;
  user-select: none;
  margin: 0 auto;
  margin-top: 20px;
}

.ant-carousel {
  height: 200px;
}

/* MEDIAQUERIES */

@media (max-width: 480px) {
  nz-carousel {
    height: 180px !important;
  }

  [nz-carousel-content] {
    margin: 0;
    width: 500px;
    height: auto;
    padding-top: 110px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 50px;
  }
}
