[nz-carousel-content] {
  margin: auto;
  width: 1440px;
  height: 150px;
}

img {
  width: 95%;
  margin-bottom: 0;
  user-select: none;
  margin: 0 auto;
  margin-top: 20px;
}

.ant-carousel {
  height: 200px;
}
