:root {
  --preto: #000000;
  --verde-claro: #82e182;
  --verde: #76c76d;
  --branco: #FFFFFF;
  --cinza-claro: #d3d3d3;
  --verde-logo: #11D220;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
