.campo-pesquisa {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.adicionar-novo-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: var(--verde);
  width: 70px;
  height: auto;
}

.campo-pesquisa input {
  border-radius: 5px;
  height: 40px;
  width: 300px;
  padding: 0 1em;
  border: 2px solid var(--verde-logo);
}

.campo-pesquisa input:focus {
  border: 2px solid var(--verde-claro);
  outline: none;
}

.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F2F4F7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1em;
}

.table thead {
  background-color: var(--verde);
  color: white;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
}

.table th {
  width: auto; /* Ajusta dinamicamente com base no conteúdo */
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #e0f0e0;
}

.imagens-produtos {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.btn-gerenciar {
  background-color: #3cb371;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-gerenciar:hover {
  background-color: #2e8b57;
}

.salvar,
.excluir {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--cinza-claro);
  padding: 14px 16px;
  margin: 5px;
  width: auto;
}

.icone-editar, .icone-deletar {
  display: flex;
  color: var(--verde);
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.icone-editar:hover, .icone-deletar:hover {
  transform: scale(1.2);
  color: var(--verde-logo);
}
