<div class="campo-pesquisa">
  <input
    type="text"
    placeholder="Buscar por nome"
    [(ngModel)]="filtro"
    (input)="filtrarProdutos()"
  />

  <a href="" title="Adicionar novo produto" [routerLink]="'/formulario'">
    <mat-icon
      class="adicionar-novo-produto"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="add_box"
    >
    </mat-icon>
  </a>
</div>

<div class="table-container">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Imagem</th>
        <th scope="col">Nome do produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Gerenciar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtosExibidos">
        <td><img class="imagens-produtos" [src]="produto.imagem" alt="" /></td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>
          <button class="salvar" [routerLink]="'/editar'">
            <mat-icon
              class="icone-editar"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit"
            ></mat-icon>
          </button>
          <button (click)="deletar(produto.id)" class="excluir">
            <mat-icon
              class="icone-deletar"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="paginacao">
  <button
    class="pagina-anterior"
    (click)="paginaAnterior()"
    [disabled]="paginaAtual === 1"
  >
    <mat-icon
      class="icone-pagina-anterior"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="keyboard_arrow_left"
    >
    </mat-icon>
  </button>

  <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>

  <button
    class="proxima-pagina"
    (click)="proximaPagina()"
    [disabled]="paginaAtual === totalPaginas"
  >
    <mat-icon
      class="icone-proxima-pagina"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="keyboard_arrow_right"
    >
    </mat-icon>
  </button>
</div>
